/*page color */
body {
   background-color: #FFFAF0;
}

/*h1 color, font, text size*/
h1 {
   color: #00000;
   font-family: Gill Sans;
}

/*paragraph color, font, text size*/
p {
   color: #00000;
   font-family: Gill Sans;
}

/*navigation bar*/

